{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<h1>Medical examination schedule</h1>
<a href="{% url 'add_record' %}" class="btn btn-primary" role="button">Add Record</a>
{% regroup records by date as date_list %}
{% for date in date_list %}
  <h2>{{ date.grouper }}</h2>
  <table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Name</th>
        <th scope="col">Gender</th>
        <th scope="col">Year of Birth</th>
        <th scope="col">Address</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      {% for record in date.list %}
      <tr>
        <td><a href="{% url 'record' record.id %}">{{ record.id }}</a></td>
        <td>{{ record.name }}</td>
        <td>{{ record.gender }}</td>
        <td>{{ record.year }}</td>
        <td>{{ record.addr }}</td>
        <td>{{ record.date }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endfor %}
{% endblock %}
